AWSTemplateFormatVersion: '2010-09-09'
Description: >-
  S3 bucket for Terraform remote state. DynamoDB lock table is optional leftover
  from the deprecated dynamodb_table backend; tf/backend.tf now uses use_lockfile.

Parameters:
  ProjectName:
    Type: String
    Default: lakehouse
    Description: Name prefix used for resources

  BucketName:
    Type: String
    Default: stack-lakehouse-terraform-state-file-bucket
    Description: Must match the bucket name referenced in tf/backend.tf

  TableName:
    Type: String
    Default: stack-lakehouse-terraform-state-lock
    Description: >-
      Optional. Terraform no longer uses dynamodb_table locking (use_lockfile
      instead). Keep this table if the stack already created it; it is unused
      by current tf/backend.tf.

Resources:
  TerraformStateBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Ref BucketName
      VersioningConfiguration:
        Status: Enabled
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  TerraformLockTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Ref TableName
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: LockID
          AttributeType: S
      KeySchema:
        - AttributeName: LockID
          KeyType: HASH

# https://s3.us-west-1.amazonaws.com/cf-templates-lakehouse1-us-west-1/template-1788036281553.yaml
